body{
    font-family: Arial, sans-serif;
   max-width: 100%;
   margin: 0;
    padding: 20px;
    background: #f4f6f9;
}

h1{
    text-align:center;
}

input, textarea{
    width:100%;
    padding:10px;
    margin-top:5px;
    margin-bottom:10px;
    border-radius:8px;
    border:1px solid #ccc;
}

button{
    padding:10px 15px;
    border:none;
    border-radius:8px;
    cursor:pointer;
}

button:hover{
    opacity:0.9;
}

#posts div{
    background:white;
    padding:15px;
    border-radius:12px;
    margin-top:15px;
    box-shadow:0 2px 10px rgba(0,0,0,0.1);
}
#navbar{
    background:white;
    padding:15px;
    border-radius:12px;
    margin-bottom:20px;
    box-shadow:0 2px 10px rgba(0,0,0,0.1);
    text-align:center;
    position:sticky;
    top:10px;
}
.container{
  display:flex;
  width:100%;
  min-height:100vh;
}

.sidebar{
  width:250px;
  background:#1f1147;
  color:white;
  padding:20px;
}

.feed{
  flex:1;
  padding:20px;
  background:white;
}
.rightbar{
  width:300px;
  padding:20px;
  background:#f5f5f5;
}
